force-app/main/default/flows/Participation_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Subtract_Credits</name>
        <label>Subtract Credits</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Credit</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Course__r.Credit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Student</targetReference>
        </connector>
    </assignments>
    <description>Updates student credits after participation deletion.</description>
    <environments>Default</environments>
    <interviewLabel>Participation Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Participation Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Student</name>
        <label>Update_Student</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Course_Credits__c</field>
            <value>
                <elementReference>Credit</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Student__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subtract_Credits</targetReference>
        </connector>
        <filterFormula>AND({!$Record.Course__r.Completed__c},{!$Record.Course__r.Credit__c}&gt;0)</filterFormula>
        <object>Participation__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Credit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Student__r.Course_Credits__c</elementReference>
        </value>
    </variables>
</Flow>
