force-app/main/default/flows/Score_Update_Solution_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Calc_Score</name>
        <label>Calc_Score</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Student</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Score_Update_Solution_Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Score_Update_Solution_Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Student</name>
        <label>Update_Student</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Score__c</field>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calc_Score</targetReference>
        </connector>
        <filterFormula>{!$Record.Score__c}&lt;&gt;{!$Record__Prior.Score__c}</filterFormula>
        <object>Solution__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Student__r.Assignment_Score__c</elementReference>
        </value>
    </variables>
</Flow>
