force-app/main/default/flows/Update_Credit_Scores_On_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Credits</name>
        <label>Add Credits</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>For_Students.Course_Credits__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Students</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Students</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Students</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Id</name>
        <label>Append Id</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>StudentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Participants.Student__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Participants</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Credit Scores On Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Credit Scores On Completion</label>
    <loops>
        <name>For_Participants</name>
        <label>For_Participants</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Student_Participations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Students</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Students</name>
        <label>For Students</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Students</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Credits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Students</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Students</name>
        <label>Get_Students</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Students</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StudentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Credits__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Student_Participations</name>
        <label>Student Participations</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Students</name>
        <label>Update Students</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>Updated_Students</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Student_Participations</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Completed__c})</filterFormula>
        <object>Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StudentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_Students</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
</Flow>
