force-app/main/default/flows/Update_Score_Solution_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Calc_Score</name>
        <label>Calc Score</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student__r.Assignment_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Student</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update_Score_Solution_Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_Score_Solution_Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Student</name>
        <label>Update Student</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Score__c</field>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calc_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Score__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Solution__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
